[submodule "Log_Transformations"]
	path = Log_Transformations
	url = ../Log_Transformations
[submodule "Data_Visualization"]
	path = Data_Visualization
	url = ../Data_Visualization
[submodule "Data_Wrangling"]
	path = Data_Wrangling
	url = ../Data_Wrangling
[submodule "Training_vs._Testing_Dataset_Proportions"]
	path = Training_vs._Testing_Dataset_Proportions
	url = ../Training_vs._Testing_Dataset_Proportions
